<form method="get" id="search" action="https://duckduckgo.com/" itemscope itemtype="https://schema.org/SearchAction">
      <input type="search" name="q" placeholder="Search&hellip;" aria-label="Search" itemprop="query-input">
      <input type="hidden" name="sites" value="{{ site.url | replace:'https://','' | replace:'http://','' }}">
      <input type="hidden" name="k7" value="w">
      <input type="hidden" name="k8" value="#111111">
      <input type="hidden" name="k9" value="#2a7ae2">
      <input type="hidden" name="kaa" value="#1756a9">
      <input type="hidden" name="kt" value="h">
      <input type="hidden" name="ko" value="-2">
      <input type="hidden" name="k1" value="-1">
      <input type="hidden" name="kaf" value="1">
      <input type="submit" value="Search">
    </form>